<html>
<head>
  <title>QRCode</title>
  <style>
  * {
    margin: 0;
    padding: 0;
  }
  </style>
  <script type="text/javascript" src="/_/scripts/qrcode.min.js"></script>
</head>
<body>
  
  <title>QRCode</title>
  
  <div id="placeHolder"></div>
  
  
  <script>
  var typeNumber = 4;
  var errorCorrectionLevel = 'L';
  var qr = qrcode(typeNumber, errorCorrectionLevel);
  qr.addData('<%- vars.url %>');
  qr.make();
  document.getElementById('placeHolder').innerHTML = qr.createImgTag();  
  </script>
  
</body>
</html>